
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.navtitle{
  font-weight: 800;
  font-size: 45px;  
}

nav ul li{
  list-style: none;
  margin-right: 50px;
}

nav li a{
  text-decoration: none;
  font size: 20px;
}

nav ul{
  display: flex;
  align-items: center;
}


/* color code h3 */
.colors
{
    color: #FD6E0A;
}



/* color */
.dark2{
  color: #474747;
}

/* button style */
.btn{
  background-color: #FD6E0A;
  font-weight: bold;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  font-size: 20px;

}

/* Text */
.ttitle{
  font-size: 45px;
  font-weight: 600;
}

.ttitle1{
  font-size: 85px;
  font-weight: bold;
}

/* image */
.pic
{width: 700px;


}

.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 150px ;
}

.banner-content
{
  max-width: 585px;
}


/* background photo */
.background{
  background-image: url('../images/developer.png'),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left,bottom right;
}
/* share  */
.bodytitle{
  font-size: 38px;
  font-weight: bold;
  color: #181818;

}

.paragraph{
  font-size: 18px;
  color: #757575;
}

.backgroundcolor
{
  background-color: #FFF8F3;
}

/* About style */
.about
{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.item-description{
  font-weight: bold;
}

.about-items
{
  display: flex;
  justify-content: space-around;
}

/* main */
main{
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 130px;
  
}

main section{
  margin-top: 150px;
  margin-bottom: 150px;
}

/* Section2 */
.section2{
  text-align: center;
}

/* Skill */
.skills-contriner
{
  display: flex;
  margin-top: 50px;
  gap: 24px;
}

.skill
{ padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
 
}


/* Resume style */
.resume{
  display: flex;
  gap: 100px;
}

.degree-description,.sub-title
{
  color: #757575;
}

.sub-title{
  font-size: 15px;
  font-weight: 600;
}

.skills h1{
  text-align: center;
}


.buttoncv
{
  
  
  
  text-align: center;
  font-size: 100px;
  

}

/* footer styles */
footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}

.footer-coloum input[type="text"],input[type="email"],textarea
{background-color: white;
  border-radius: 5px;
  display: block;
  height: 50px;
  width: 500px;
  margin-top: 20px;

}


/* Responsive */
.hide{
  display: none;
}

@media screen and (max-width:576px)
{
  .skills-contriner,.backgroundcolor,.about-items,.banner,nav,
  nav ul{
    flex-direction: column;
  }
  footer,.about{
    flex-direction: column;
    padding: 20px;
  }
  .footer-coloum input[type="text"],input[type="email"],textarea
  {
    width: calc(100% - 40px);
  }
  .banner{
    margin: 20px;
  }
  .background{
    background-image: none;
  }

  .pic{
    width: 100%;
  }

  nav ul{
    gap: 20px;
  }

  .btn{
    padding: 5px;
    
  }
  

}

